body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-title{
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.main-content {
    flex: 1 ;
    padding: 12px;
}

.gender {
    font-size: 16px;
    font-weight: bold;
}

.button {
    height: 32px;
    border-radius: 8px;
}

.submit{
    background-color: #a5d0e9;
    border: 0px;
}

.reset{
    border: 0px;
}

input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=number]:focus {
    border: 3px solid #e9a5c1;
}
.result-section{
    text-align: center;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 12px;
}

.gender{
    padding-bottom: 7px;
}

input[type=radio]{
    margin-bottom: 40px;
}

.main-article{  
    margin-top: 30px;
}

.main-form{
    background-color:aliceblue;
    padding: 20px;
    margin-bottom: 20px;
}

.isi-article{
    text-align: justify;
    padding: 12px;
}

.result-article{
    text-align: justify;
}

.general-information{
    text-align: center;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 12px;
}